<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>241748771473-e85o2d6heucd28loiq5aacese38ln4l4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.241748771473-e85o2d6heucd28loiq5aacese38ln4l4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>241748771473-f9t7p3d01hpo30v8jl2j0qrvhq53ff1t.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA4HttjUBAvzy_RD40Ud7Gjuw3MfWTdH3A</string>
	<key>GCM_SENDER_ID</key>
	<string>241748771473</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.carriage</string>
	<key>PROJECT_ID</key>
	<string>flutter-tutorial-256318</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-tutorial-256318.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:241748771473:ios:5a605fef4af85c035cb530</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-tutorial-256318.firebaseio.com</string>
</dict>
</plist>